@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    width: 100%;
    // height: 150vh;
    background-color: lightgray;
}
body::-webkit-scrollbar {
    display: none;
}

.scroll {
    opacity: 0;
    z-index: 2;
    position: fixed;
    right: 45px;
    bottom: 100px;
    width: 50px;
    height: 50px;
    background-color: #0fc1d0;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease;
    
        p {
        color: white;
        font-family: 'Dosis', sans-serif;
        font-weight: 600;
        font-size: 18px;
    }
}

nav {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    // background-color: beige;
    
    .logo {
        opacity: 0;
        pointer-events: none;
        width: 5em;
        padding-left: 2em;

        img {
            width: 5em;
        }
    }
    
    .links {
        margin-left: calc(25% + 5em);
        display: flex;
        flex-wrap: nowrap;
        height: 30px;

        a{
            font-family: 'Montserrat', sans-serif;
            display: block;
            height: 25px;
            margin: auto 1em;
            text-decoration: none;
            color: white;
            transition: all .1s;
            
            &:hover {
                border-bottom: 4px solid white;
            }
        }
    }
}

//HELPER CLASS - Nav Scroll
.nav-scroll {
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 1;
    box-shadow: 0px 0px 2px 0px grey;
    transition: all .3s ease;
    .logo {
        opacity: 1;
        pointer-events: all;
        cursor: pointer;
    }
    .links {
        a {
            color: black;

            &:hover {
                border-bottom: 4px solid black;
            }
        }
    }

}

.hero {
    background-color: rgba(0, 0, 0, 0.253);
    background-image: url(img/background.jpg);
    background-blend-mode: darken;
    background-size: 102%;
    background-repeat: no-repeat;
    background-position: center center;
    height: 60vh;
    min-width: 1000px;

    .hero-text {
        width: 50vw;
        margin: auto;
        position: relative;
        top: 40%;
        h1 {
            font-family: 'Bebas Neue', cursive;
            font-size: 45px;
            color: white;
            text-align: center;            
        }
    }
}

//HELPER CLASS
.fancy {
    min-height: 200px;
    min-width: 1000px;
    background-color: white;
    position: relative;

    &::before {
        content: " ";
        width: 100%;
        height: 100px;
        display: block;
        background-image: url(img/assets/icicles_up.png);
        background-size: contain;
        position: absolute;
        top: -100px;
    }
    &::after {
        content: " ";
        width: 100%;
        height: 100px;
        display: block;
        background-image: url(img/assets/icicles_down.png);
        background-size: contain;
        position: absolute;
        bottom: -100px;
    }
}

.cta {
    .cta-content {
        // background-color: lightgrey;
        height: 100%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 1.5em;
        
        h2 {
        font-family: 'Dosis', sans-serif;
        font-size: 40px;
        text-shadow: 0px 3px 3px rgba($color: #000000, $alpha: 0.2);
        font-weight: 600;
        color: #8c8c8c;
        }

        h3 {
        font-family: 'Dosis', sans-serif;
        color: black;
        font-size: 24px;
        }

        a {
            border: 2px solid #606060;
            padding: 10px 30px;
            font-family: 'Bebas Neue', cursive;
            color:#606060;
            text-decoration: none;
            text-transform: uppercase;
            font-size: 20px;
            transition: all .2s;

            &:hover {
                border: 2px solid #0fc1d0;
                background-color: #0fc1d0;
                color: white;
                transform: scale(1.1);
            }
        }
    }
}

.exp {
    height: 100vh;
    min-width: 1000px;
    background: rgba(0, 0, 0, 0.37);
    background-image: url(img/background2.jpg);
    background-blend-mode: saturation;
    background-size: cover;
    background-attachment: fixed;

    .exp-content {
        // background-color: rgba(250, 240, 230, 0.233);
        height: 50%;
        width: 60%;
        margin: auto;
        color: white;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        gap: 1.5em;

        .exp-title {
        font-family: 'Dosis', sans-serif;
        font-weight: 600;
        font-size: 40px;
        text-shadow: 0px 3px 3px rgba($color: #000000, $alpha: 0.2);
        }
        
        .exp-desc {
        font-family: 'Dosis', sans-serif;
        font-size: 24px;
        }

        // SWITCH
        .switch {
            display: flex;
            gap: 2em;
            font-family: 'Montserrat-Regular';
            font-size: 16px;
            font-weight: bold;
            align-items: center;

            .switcher {
                background-color: #8c8c8c;
                width: 100px;
                height: 35px;
                border-radius: 17.5px;
                cursor: pointer;

                .dot {
                    background-color: white;
                    width: 35px;
                    height: 35px;
                    border-radius: 50%;
                    //Config pt JS > Switcher
                    position: relative;
                    transition: all .3s ease;
                    left: 0px;

                    &:hover {
                        box-shadow: inset 0px 0px 5px 0px rgb(59, 59, 59);
                    }
                }
            }
        }
    }

    // CARDS
    .exp-cards {
        width: 60%;
        margin: auto;
        color: white;
        display: flex;


        .card {
            width: 25%;
            min-width: 175px;
            height: 300px;
            padding: 2em;
            clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
            transition: all .3s ease;
            overflow: hidden;

            &:nth-child(1) {
                background-color: rgb(255,143,207);
            }
            &:nth-child(2) {
                background-color: #000034;
            }
            &:nth-child(3) {
                background-color: #93cddc;
            }
            &:nth-child(4) {
                background-color:#ceabff;
            }
            
            .card-content {
                // transform: translateY(120%);
                transition: all .5s ease;
                .card-title {
                    font-family: 'Bebas Neue', cursive;
                    font-size: 35px;
                    text-align: center;
                    text-transform: uppercase;
                    padding-bottom: 25px;
                }
                ul {
                    list-style: none;
                    li {
                        padding-bottom: 2em;
                    }
                }
            }
            .card-content2 {
                transform: translateY(30%);
                transition: all .5s ease;
                .card-title {
                    font-family: 'Bebas Neue', cursive;
                    font-size: 35px;
                    text-align: center;
                    text-transform: uppercase;
                    padding-bottom: 25px;
                }
                ul {
                    list-style: none;
                    li {
                        padding-bottom: 2em;
                    }
                }
            }

            &:hover {
            //    transform: scale(1.1);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
            }
        }
    }
}


