@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300&display=swap");
.nav-scroll {
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  z-index: 1;
  -webkit-box-shadow: 0px 0px 2px 0px grey;
          box-shadow: 0px 0px 2px 0px grey;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.nav-scroll .logo {
  opacity: 1;
  pointer-events: all;
  cursor: pointer;
}

.nav-scroll .links a {
  color: black;
}

.nav-scroll .links a:hover {
  border-bottom: 4px solid black;
}

.fancy {
  min-height: 200px;
  min-width: 1000px;
  background-color: white;
  position: relative;
}

.fancy::before {
  content: " ";
  width: 100%;
  height: 100px;
  display: block;
  background-image: url(img/assets/icicles_up.png);
  background-size: contain;
  position: absolute;
  top: -99px;
}

.fancy::after {
  content: " ";
  width: 100%;
  height: 100px;
  display: block;
  background-image: url(img/assets/icicles_down.png);
  background-size: contain;
  position: absolute;
  bottom: -99px;
}

.title-grey {
  font-family: 'Dosis', sans-serif;
  font-size: 40px;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
  font-weight: 600;
  color: #8c8c8c;
}

.subtitle-grey {
  font-family: 'Dosis', sans-serif;
  color: black;
  font-size: 24px;
}

.title-white {
  font-family: 'Dosis', sans-serif;
  font-weight: 600;
  font-size: 40px;
  text-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
  color: white;
}

.subtitle-white {
  font-family: 'Dosis', sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: white;
}

.a-link {
  border: 2px solid #606060;
  padding: 10px 30px;
  font-family: 'Bebas Neue', cursive;
  color: #606060;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 20px;
  -webkit-transition: all .2s;
  transition: all .2s;
}

.a-link:hover {
  border: 2px solid #0fc1d0;
  background-color: #0fc1d0;
  color: white;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

body {
  width: 100%;
  background-color: lightgray;
}

body::-webkit-scrollbar {
  display: none;
}

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #242f3f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 3;
}

.loader-wrapper .loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  -webkit-animation: loader 2s infinite ease;
          animation: loader 2s infinite ease;
}

.loader-wrapper .loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  -webkit-animation: loader-inner 2s infinite ease-in;
          animation: loader-inner 2s infinite ease-in;
}

@-webkit-keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes loader {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  25% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  50% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
  75% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@-webkit-keyframes loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}

@keyframes loader-inner {
  0% {
    height: 0%;
  }
  25% {
    height: 0%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 100%;
  }
  100% {
    height: 0%;
  }
}

.scroll {
  opacity: 0;
  z-index: 2;
  position: fixed;
  right: 45px;
  bottom: 100px;
  width: 50px;
  height: 50px;
  background-color: #0fc1d0;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.scroll p {
  color: white;
  font-family: 'Dosis', sans-serif;
  font-weight: 600;
  font-size: 18px;
}

nav {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .logo {
  opacity: 0;
  pointer-events: none;
  width: 5em;
  padding-left: 2em;
}

nav .logo img {
  width: 5em;
}

nav .links {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  height: 30px;
}

nav .links a {
  font-family: 'Montserrat', sans-serif;
  display: block;
  height: 25px;
  margin: auto 1em;
  text-decoration: none;
  color: white;
  -webkit-transition: all .1s;
  transition: all .1s;
}

nav .links a:hover {
  border-bottom: 4px solid white;
}

.hero {
  background-color: rgba(0, 0, 0, 0.253);
  background-image: url(img/background.jpg);
  background-blend-mode: darken;
  background-size: 102%;
  background-repeat: no-repeat;
  background-position: center center;
  min-height: 600px;
  height: 40vh;
  min-width: 1000px;
}

.hero .hero-text {
  width: 50vw;
  margin: auto;
  position: relative;
  top: 40%;
  pointer-events: none;
}

.hero .hero-text h1 {
  font-family: 'Bebas Neue', cursive;
  font-size: 45px;
  color: white;
  text-align: center;
}

.cta .cta-content {
  height: 100%;
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1.5em;
}

.exp {
  height: 100vh;
  min-width: 1000px;
  background: rgba(0, 0, 0, 0.37);
  background-image: url(img/background2.jpg);
  background-blend-mode: saturation;
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
}

.exp .exp-content {
  height: 50%;
  width: 60%;
  margin: auto;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 1.5em;
}

.exp .exp-content .switch {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 2em;
  font-family: 'Montserrat-Regular';
  font-size: 16px;
  font-weight: bold;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.exp .exp-content .switch .switcher {
  background-color: #8c8c8c;
  width: 100px;
  height: 35px;
  border-radius: 17.5px;
  cursor: pointer;
}

.exp .exp-content .switch .switcher .dot {
  background-color: white;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  position: relative;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  left: 0px;
}

.exp .exp-content .switch .switcher .dot:hover {
  -webkit-box-shadow: inset 0px 0px 5px 0px #3b3b3b;
          box-shadow: inset 0px 0px 5px 0px #3b3b3b;
}

.exp .exp-cards {
  width: 80%;
  margin: auto;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.exp .exp-cards .card {
  width: 25%;
  min-width: 175px;
  height: 300px;
  padding: 2em;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
          clip-path: polygon(0 0, 100% 0, 100% 50%, 0 50%);
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
  overflow: hidden;
}

.exp .exp-cards .card:nth-child(1) {
  background-color: #ff8fcf;
}

.exp .exp-cards .card:nth-child(2) {
  background-color: #000034;
}

.exp .exp-cards .card:nth-child(3) {
  background-color: #93cddc;
}

.exp .exp-cards .card:nth-child(4) {
  background-color: #ceabff;
}

.exp .exp-cards .card .card-content {
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.exp .exp-cards .card .card-content .card-title {
  font-family: 'Bebas Neue', cursive;
  font-size: 35px;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 25px;
}

.exp .exp-cards .card .card-content ul {
  list-style: none;
}

.exp .exp-cards .card .card-content ul li {
  padding-bottom: 2em;
}

.exp .exp-cards .card .card-content2 {
  -webkit-transform: translateY(30%);
          transform: translateY(30%);
  -webkit-transition: all .5s ease;
  transition: all .5s ease;
}

.exp .exp-cards .card .card-content2 .card-title {
  font-family: 'Bebas Neue', cursive;
  font-size: 35px;
  text-align: center;
  text-transform: uppercase;
  padding-bottom: 25px;
}

.exp .exp-cards .card .card-content2 ul {
  list-style: none;
}

.exp .exp-cards .card .card-content2 ul li {
  padding-bottom: 2em;
}

.exp .exp-cards .card:hover {
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

.partners {
  text-align: center;
  padding-bottom: 50px;
}

.partners h3 {
  font-weight: 200;
}

.partners .part-container {
  padding-top: 50px;
  width: 100%;
  height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.partners .part-container .part {
  width: 250px;
  height: 150px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all .2s ease;
  transition: all .2s ease;
}

.partners .part-container .part:hover {
  -webkit-box-shadow: 0px 5px 15px 0px rgba(128, 128, 128, 0.3);
          box-shadow: 0px 5px 15px 0px rgba(128, 128, 128, 0.3);
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

.partners .part-container .part img {
  max-height: 250px;
  max-width: 250px;
  padding: 15px;
}

.team {
  width: 100%;
  min-width: 1000px;
  text-align: center;
  padding-bottom: 10px;
  background: rgba(0, 0, 0, 0.5);
  background-image: url(img/background3.jpg);
  background-blend-mode: saturation;
  background-size: cover;
  background-attachment: fixed;
  color: white;
}

.team .team-title {
  padding-top: 150px;
}

.team .members {
  width: 80%;
  margin: 100px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 10px;
}

.team .members .member {
  min-width: 400px;
  height: 250px;
  border-radius: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
}

.team .members .member:hover {
  -webkit-box-shadow: 0px 5px 15px 0px rgba(128, 128, 128, 0.3);
          box-shadow: 0px 5px 15px 0px rgba(128, 128, 128, 0.3);
  background-color: rgba(255, 255, 255, 0.25);
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
}

.team .members .member:hover .m-pic {
  width: 100px;
  -webkit-transform: translateX(-130px) translateY(-30px) translateZ(20px);
          transform: translateX(-130px) translateY(-30px) translateZ(20px);
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.team .members .member:hover .m-name {
  -webkit-transform: translateX(50px) translateY(-100px) translateZ(20px);
          transform: translateX(50px) translateY(-100px) translateZ(20px);
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.team .members .member:hover .m-title {
  -webkit-transform: translateX(50px) translateY(-100px) translateZ(20px);
          transform: translateX(50px) translateY(-100px) translateZ(20px);
  -webkit-transition: all 0.2s linear 0.1s;
  transition: all 0.2s linear 0.1s;
}

.team .members .member:hover .m-desc {
  opacity: 1;
  -webkit-transform: translateY(60px) translateZ(20px);
          transform: translateY(60px) translateZ(20px);
  -webkit-transition: all 0.2s linear 0.3s;
  transition: all 0.2s linear 0.3s;
}

.team .members .member .m-pic {
  width: 150px;
  position: relative;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.team .members .member .m-pic img {
  width: 100%;
  border-radius: 50%;
}

.team .members .member .m-name {
  font-family: 'Dosis', sans-serif;
  font-weight: bold;
  font-size: 24px;
  position: relative;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.team .members .member .m-title {
  font-family: 'Montserrat', sans-serif;
  position: relative;
  -webkit-transition: all 0.2s linear 0.1s;
  transition: all 0.2s linear 0.1s;
}

.team .members .member .m-desc {
  width: 80%;
  position: absolute;
  opacity: 0;
  text-align: left;
  -webkit-transition: all 0.2s linear -0.15s;
  transition: all 0.2s linear -0.15s;
}

.reviews {
  width: 100%;
  min-width: 1000px;
  padding-bottom: 50px;
}

.reviews h2, .reviews h3 {
  text-align: center;
}

.reviews .reviews-container {
  margin: 70px auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.reviews .reviews-container .review {
  width: 80%;
  min-height: 200px;
  min-width: 750px;
  background-color: rgba(255, 255, 255, 0.95);
  margin: 10px auto;
  border-radius: 5px;
}

.reviews .reviews-container .review .reviewer-name {
  font-family: 'Dosis', sans-serif;
  font-size: 1.3em;
  font-weight: bold;
}

@media only screen and (max-width: 1080px) {
  nav {
    display: none;
  }
  .hero {
    background-size: 110%;
    height: 40vh;
    min-height: 400px;
  }
  .hero .hero-text h1 {
    font-size: 35px;
  }
  .exp {
    min-height: 800px;
    height: 70vh;
  }
  .team .members {
    width: 100%;
  }
  .partners .part-container {
    height: 150px;
  }
}
/*# sourceMappingURL=style.css.map */